
<div class="row">
  <div class="col-md-4">
    <p>Search: <input ng-model="query"> | Order by:
      <select ng-model="orderProp">
        <option value="date">Date</option>
        <option value="district">District</option>
      </select>
    </p>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-5 my-events-glyphs">
    <a><span class="glyphicon glyphicon-print glyphs" aria-hidden="true"></span></a>
    <a><span class="glyphicon glyphicon-map-marker glyphs" aria-hidden="true"></span></a>
    <a><span class="glyphicon glyphicon-calendar glyphs" aria-hidden="true"></span></a>
    <a><span class="glyphicon glyphicon-share glyphs" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-sm"></span>
      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
          input share buttons here
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<hr>

<div class="row">

  <div class="col-md-5">
    <div class="column-head">All Events</div>
    <div class="row single-event" ng-repeat="event in events | filter:query">
      <div class="col-md-10">
        <p><strong>Artist: </strong>{{event.artist}}</p>
        <p><strong>Title: </strong><a>{{event.title}}</a></p>
        <p><strong>Gallery: </strong><a>{{event.venue}}</a></p>
        <p><strong>Location: </strong><a>{{event.address}}</a> | {{event.district}}</p>
        <p><strong>Open:</strong> <a>{{event.open}} | {{event.time}}</a></p>
        <p><strong>Close:</strong> <a>{{event.close}}</a></p>
      </div>
      <div class="col-md-2">
        <a><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
      </div>
    </div>
  </div>

  <div class="col-md-2"></div>

  <div class="col-md-5 my-events">
    <div class="column-head">My Events</div>
    <div class="row">
      <div class="col-md-10">
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>

</div>
