<div class="row">
  <div class="col-xs-9 col-sm-6 all-events">All Events</div>
  <div class="col-xs-9 col-sm-6 my-events">My Events</div>
</div>

<hr>

<div class="row">
  <div class="col-xs-9 col-sm-6">Listing of events</div>
  <div class="col-xs-9 col-sm-6">Add your events here</div>
</div>