// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, .h1, h2, .h2, h3, .h3 {
margin-bottom: 5px;
margin-top: -20px;
}

.my-events-glyphs {
  font-size: 30px;
  letter-spacing: 50px;
  margin-top: 15px;
  text-align: right;
}

.glyphicon-plus {
  font-size: 30px;
  margin-top: 20px;
}

.modal-content {
  font-size: 12px;
  letter-spacing: 2px;
  text-align: center;
}

p {
  margin: 15px 0 10px;
}