// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 70px;
}

.col-xs-8 {
  background-color: #D3D3D3;
  height: 100px;
  text-align: center;
  padding: 2%;
  font-family: Helvetica;
  font-size: 2.5em;
  font-weight: lighter;
}