<h1>Venues</h1>
<p>Below is a list of all venues.</p>

<%= @content_venues %>

<hr>

<% unless @venues.all == 0 %>
  <% @venues.each do |v| %>
    <a><%= v.name %></a>
  <% end %>

<% else %>
  <p>Sorry, there are currently no venues in Hong Kong.</p>
<% end %>