<h1>Galleries</h1>
<p>Below is a list of all galleries in Hong Kong.</p>

<%= @content_venues %>

<hr>

<% unless @venues.all == 0 %>
  <% @venues.each do |v| %>
    <p><a><%= v.name %></a> | <%= v.district %></p>
  <% end %>

<% else %>
  <p>Sorry, there are currently no venues in Hong Kong.</p>
<% end %>