<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><a href="#">About</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
    </ul>
  </nav>
  <h3 class="text-muted">ArtBzz</h3>
</div>

<hr><hr>